@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,200&family=Roboto:wght@300&display=swap&family=Comfortaa:wght@700&family=Rubik&display=swap');
body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Comfortaa', cursive;
	text-shadow: 1px 0 1px #000,
0 1px 1px #000,
-1px 0 1px #000,
0 -1px 1px #000;
}

a {
	text-decoration: none;
	color: #0080FD;
}

img {
	border-radius: 2em;
}

nav {
	width: 100vw;
	align-items: center;
	text-align: center;
	position: fixed;
	padding: 2mm;
}

nav a {
	color: #F7F7F7;
	transition: 0.5s;
}

nav a:hover {
	color: #1f48ff;
}

.landing {
	color: #fefefe;
	background: #1D1F21;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	text-align: center;

	padding: 1em;
}

.active {
	font-size: 1.5em;
}

.landing img {
	width: auto;
	max-width: 10em;
}
